<body style="background-color:powderblue;">
    <div class="card-body">
    <form  >
     <div class="row">
      
       <h1><i>Partie admin</i></h1>
        <div class="col-sm-6">
          
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">commerces et bâtiments de services publics </h5>
              <p class="card-text" id="paragraph">Selon vous, existe-t-il un problème en lien avec l’accès aux commerces et bâtiments de services publics pour les personnes à mobilité réduite dans votre municipalité?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  oui
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  non
                </label>
              </div>
              <div class="input-group mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                
                  <textarea matInput placeholder="Si oui, précisez:" id="Commenter"></textarea>
                </mat-form-field>
              </div>
              <a href="#" class="btn btn-primary">ok</a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">loisirs</h5>
              <p class="card-text">Êtes-vous satisfait de l’offre en services et en équipements de loisirs dans votre municipalité? Il peut par exemple s’agir des parcs, des modules de jeux pour enfants, de la bibliothèque, etc.</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  oui
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  non
                </label>
                <div class="input-group mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  
                  <textarea matInput placeholder="Si non, précisez:"></textarea>
                </mat-form-field>
              </div>
              </div>
              <a href="#" class="btn btn-primary">ok</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">municipalité en générale</h5>
              <p class="card-text">De façon générale, est-ce que notre municipalité offre un milieu de vie agréable?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  oui
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault22" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  non
                </label>
              </div>
              <div class="input-group mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                
                  <textarea matInput placeholder="laissez un commentaire"></textarea>
                </mat-form-field>
              </div>
              <a href="#" class="btn btn-primary">ok</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">les manques</h5>
              <p class="card-text">Selon vous, que manque-t-il ou qu’est-ce qui devrait être amélioré dans ce qui existe déjà dans votre municipalité?</p>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  infrastructures
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  aménagements
                </label>
              </div>
              <div class="input-group mb-3">
                <mat-form-field class="example-full-width" appearance="fill">
                
                  <textarea matInput placeholder="autres.."></textarea>
                </mat-form-field>
              </div>
              <a href="#" class="btn btn-primary">ok</a>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
    </body>