<div class="bg-gradient-pink">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image bg-image"  style="background-image: url('assets/image/munic.png');"></div>
                            
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenue !</h1>
                                    </div>
                                    <form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
                                        <div class="form-group">
                                            <input type="email" formControlName="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Entrer votre Adresse Email ">
                                                <div *ngIf="getEmail().touched && getEmail().invalid">
                                                    <small class="text-danger" *ngIf="getEmail().errors?.['required']">Email est requis</small>
                                                    <small class="text-danger" *ngIf="getEmail().errors?.['email']">Email est invalide</small>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="password"  formControlName="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Password">
                                                <div *ngIf="getPassword().touched && getPassword().invalid">
                                                    <small class="text-danger" *ngIf="getPassword().errors?.['required']">le mot de passe est requis</small>
                                                    <small class="text-danger" *ngIf="getPassword().errors?.['minLength']">le mot de passe doit comporter au moins 6 caractères</small>
                                                </div>   
                                                
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Rappelles moi</label>
                                            </div>
                                        </div>
                                        <button  class="btn btn-primary btn-user btn-block" type="submit"> Connexion</button>
                                      
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i>  Connexion avec Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Connexion avec Facebook
                                        </a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small"  routerLink="/forgetpassword">Mot de passe oublié?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" routerLink="/register">Créer un compte!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

 

</div>
