<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
    <a routerLink="/add-user" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Add</a>
  
</div>





<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All  Users</h6>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Cin</th>
                    <th>name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item1 of  listuser ">
                    <td>{{ item1.userEmail  }}</td>
                    <td>{{ item1.userName }}</td>
                    <td>{{ item1.userNumber }}</td>
                    <td>{{ item1.userPassword }}</td>
                    <td>
                            
  
                      
                        <div class="example-button-container">
                            <button style="margin-right: 12%" mat-mini-fab color="warn" (click)="openDialog(item1.$key)">
                              <mat-icon>delete</mat-icon></button>
                              <button mat-mini-fab color="green" (click)="edit(item1.$key)" >
                                <mat-icon>edit</mat-icon>
                            </button>
                           
                          </div>
                           </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
